div.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
}

div.table-container {
  display: flex;
  margin-top: 4rem;
  width: 90%;
  height: 85%;
  overflow-y: scroll;
}


.table-striped tbody tr:nth-of-type:even {
  background-color: #e8f0ff;
}

table.table th {
  box-sizing: inherit;
  background-color: white;
  max-height: 28px;
  position: sticky;
  top: 0;
  font-size: 14px;
}

table.table thead th {
  box-sizing: inherit;
  text-align: left;
  font-size: 14px;
  border: 0; 
  height: 28px;
  padding: 0;
  vertical-align: middle;
}

table.table th.text-center {
  font-size: 14px;
  box-sizing: inherit;
  width: 12px;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 12px;
  
}

table.table tr input {
  box-sizing: inherit;
  height: 12px;
  width: 12px;
  vertical-align: middle;
}

table.table tbody td {
  text-align: left;
  font-size: 14px;
  border: 0;
  padding: 0;
  vertical-align: middle;
  max-width: fit-content;
}

table.table td.text-left {
  /* box-sizing: content-box; */
  height: 46px;
  vertical-align: middle;
  padding: 0;
}

img {
  box-sizing: content-box;
  margin-right: 12px;
  margin-left: 0;
  height: 16px;
  width: 16px;
}

table.table td.names {
  font-weight: bold;
  color: #0356fc;
}