.App {
  display: flex;
  box-sizing: content-box;
  height: 80vh;
  text-align: center;
  width: 100vw;
}

div.table-container {
  margin: 6rem auto;
  width: 80vw;
  height: 90%;
  font-size: 1.2vw;
  overflow-y: scroll;
}

table.table th {
  background-color: white;
  position: sticky;
  top: 0;
  vertical-align: middle;
  
}
table.table thead th {
  text-align: left;
  font-size: 1em;
  border: 0; 
  height: 28px;
  padding: 0;
  vertical-align: middle;
  
}

table.table th.text-center {
  height: 12px;
  width: 12px;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 12px;
}



table.table tbody td {
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
  border: 0;
  padding: 0;
  vertical-align: middle;
}

table.table td.text-center {
  height: 46px;
  vertical-align: middle;
  padding: 0;
}

div.form-check {
  padding: 0;

  margin: 0;
  height: 28px;
  vertical-align: middle;
}


table.table input {
  max-height: 12px;
  max-width: 12px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

Image {
  height: 16px;
  width: 16px;
}

img {
  margin-right: 12px;
  margin-left: 0;
  height: 16px;
  width: 16px;
}