.App {
  display: flex;
  box-sizing: content-box;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

div.table-container {
  margin: 3rem auto;
  width: 80vw;
  font-size: 1.2vw;
}

table.table tr{
  padding-left: 12px;
}

table.table thead th {
  text-align: left;
  font-size: 1em;
  border: 0; 
  padding: 0;
  vertical-align: middle;
}

table.table th.text-center {
  height: 28px;
  vertical-align: middle;
}

table.table tbody td {
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
  border: 0;
  padding: 0;
  vertical-align: middle;
}

table.table td.text-center {
  height: 46px;
  vertical-align: middle;
  padding: 0;
}

div.form-check {
  padding-left: 12px;
  margin-left: 12px;
  margin-right: 3px;
}


table.table input {
  height: 12px;
  width: 12px;
}

Image {
  height: 16px;
  width: 16px;
}

img {
  margin-right: 12px;
}